<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    Welcome
    {% if user.is_authenticated %}
        <li> Hello, {{ user.first_name }}</li>
        <button type="button" onclick="location.href='{% url 'logout' %}'" >Logout</button>
    {% else %}
        <button type="button" onclick="location.href='{% url 'login' %}'" >Login</button>
        <button type="button" onclick="location.href='{% url 'register' %}'" >Register</button>
    {% endif %}
</body>
</html>